body {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

h1 {
  letter-spacing: .04em;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
}

input {
  border:0;
}

#container{
  margin-left: auto;
  margin-right: auto;
  width: 20em;
}

#see-equation{
  margin: 0;
}

#solutionID {
  background-color: #636363;
  border: none;
  color: white;
  font-size: 2em;
  font-weight: 100;
  letter-spacing: .04em;
  width: 100%;
  text-align: right;
}


.calcButton {
  border-bottom: thin solid #636363;
  font-size: 1.15em;
  height: 2.5em;
  width: 25%; 
  float:left;
}

input#zero.calcButton{
  width: 50%;
}

.number {
  background-color: white;
  border-left: thin solid #636363;
}