body {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

h1 {
  letter-spacing: .04em;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
}



#container{
  border-radius: .5em;
  border: thin solid #000000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  width: 20em;
}

#inner-container{
  padding: 1em;
}

#see-equation{
  margin: 0;
}

#solutionID {
  background-color: #636363;
  border-radius: .2em;
  border: none;
  color: white;
  font-size: 2em;
  font-weight: 100;
  letter-spacing: .04em;
  width: 100%;
  text-align: right;
}

