body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
}

#container{
  border-radius: .5em;
  border: thin solid #000000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  width: 20em;
}

#inner-container{
  padding: 1em;
}

#see-equation{
  margin: 0;
}

#solution {
  background-color: #F0E68C;
  border-radius: .4em;
  width: 100%;
  height: 2em;
  margin-bottom: 1em;
  text-align: right;
}

